<%= form_tag manage_users_channel_path(@channel) do  %>

    <div class="row">
      <% @users.each do |user| %>
          <div class="col-md-3">
            <%= check_box_tag "users[]", user.id, @shared_channels.include?(user.id) %> <%= user.to_s %>
          </div>
      <% end %>

    </div>

    <div class="form-group" >
      <div class="col-md-11">
        <%= link_to t('button_cancel'), channel_path(@channel), class: 'btn btn-warning pull-right' %>
        <%= submit_tag t('button_save'), class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>