<% audit = @channel.try(:audits).try(:last) %>
<% if audit %>
    <% user = audit.user %>
    <% changes = audit.audited_changes %>
    <h1>Channel `<%= Array.wrap(changes['name']).first || @channel.name %>` was updated by `<%= user %>` </h1>

    <ul>
      <% changes.each do |attr, array| %>
          <% next unless array.is_a? Array %>
          <li>
            <%= attr %>: changed from `<%= array.first %>` to `<%= array.last %>`
          </li>
      <% end %>

    </ul>
<% end %>