<%= form_for(@report, url: upload_document_channel_report_path(@channel, @report), method: :post, html: { class: 'form-horizontal' }) do |f| %>
    <fieldset>
      <legend></legend>
      <% if @report.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
            <ul>
              <% @report.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label t('document'), class: 'col-md-2 control-label' %>
        <div class="col-md-9">
          <%= f.file_field :document  %>
        </div>
      </div>


      <div class="form-group" >
        <div class="col-md-11">
          <%= link_to t('button_cancel'), channel_report_path(@channel, @report), class: 'btn btn-warning pull-right' %>
          <%= f.submit t('button_save'), class: 'btn btn-success pull-right' %>
        </div>
      </div>
    </fieldset>

<% end %>
