<%= form_tag share_report_channel_report_path(@channel, @report) do  %>
    <p>&nbsp;Share this Data Set with the following users:</p>
    <div class="row">
      <% @users.each do |user| %>
          <div class="col-md-3">
            <%= check_box_tag "users[]", user.id, @shared_reports.include?(user.id) %> <%= user.to_s %>
          </div>
      <% end %>

    </div>

    <div class="form-group" >
      <div class="col-md-11">
        <%= link_to t('button_cancel'), channel_report_path(@channel, @report), class: 'btn btn-warning pull-right' %>
        <%= submit_tag t('button_save'), class: 'btn btn-success pull-right' %>
      </div>
    </div>
<% end %>
